# Apriori
참고: http://blog.naver.com/PostView.nhn?blogId=eqfq1&logNo=221444712369&parentCategoryNo=&categoryNo=45&viewDate=&isShowPopularPosts=true&from=search

In [2]:
import pickle
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

- splitted_movies 리스트 파일로 저장해서 연산 계속 안해도 되도록 해주기

In [3]:
#movies = pd.read_csv('ml-25m/movies.csv')
#ratings = pd.read_csv('ml-25m/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [4]:
ratings['liked'] = np.where(ratings['rating']>=4, 1, 0)
ratings['movieId'] = ratings['movieId'].astype('str')
gp_user_like = ratings.groupby(['liked', 'userId'])

splitted_movies = [gp_user_like.get_group(gp)['movieId'].tolist() for gp in gp_user_like.groups]

In [5]:
# 파일에 쓰기
with open('whole_movies.txt', 'wb') as f:
    pickle.dump(splitted_movies, f)

In [6]:
# 파일 읽어오기
#with open('splitted_movie.txt', 'rb') as f:
 #   movies = pickle.load(f)

In [7]:
te = TransactionEncoder()
te_result = te.fit(splitted_movies).transform(splitted_movies)
df = pd.DataFrame(te_result, columns=te.columns_)

In [8]:
df

,1,10,100,100044,100068,100083,100106,100159,100163,100194,...,99750,99764,998,99813,99846,99853,999,99910,99917,99992
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1211,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1212,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1213,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1214,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)
frequent_itemsets

       support                       itemsets
0     0.176955                            (1)
1     0.108642                           (10)
2     0.058436                         (1028)
3     0.052675                         (1035)
4     0.119342                         (1036)
...        ...                            ...
1661  0.055967        (7153, 4993, 5952, 318)
1662  0.051852        (7153, 4993, 356, 5952)
1663  0.051852        (7153, 4993, 5952, 593)
1664  0.053498       (7153, 4993, 5952, 6539)
1665  0.050206  (260, 4993, 7153, 1196, 5952)

[1666 rows x 2 columns]

In [11]:
# 파일에 쓰기
with open('frequent_itemsets.pkl', 'wb') as f:
    pickle.dump(frequent_itemsets, f)

In [23]:
frequent_itemsets.to_csv('sample_small_0.05.csv')

In [35]:
itemsets = pd.read_csv('sample_small_0.05.csv')

In [36]:
for i in range(len(itemsets['itemsets'])):
    itemsets['itemsets'][i] = itemsets['itemsets'][i][11:]

/Users/hbae/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
for i in range(len(itemsets['itemsets'])):
    itemsets['itemsets'][i] = itemsets['itemsets'][i][:-2]

/Users/hbae/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
# 아이템이 1개 이상인 경우만
itemsets = itemsets.loc[328:]

In [78]:
itemsets = itemsets.reset_index()

In [81]:
itemsets.to_csv('sample_small_0.05.csv')

In [65]:
cand = itemsets['itemsets'].tolist()

In [66]:
for i in range(len(cand)):
    cand[i] = cand[i].replace("'", "")

In [ ]:
for i in range(len(cand)):
    cand[i] = cand[i].split(", ")

In [70]:
for i in range(len(cand)):
    for j in range(len(cand[i])):
        cand[i][j] = int(cand[i][j])

In [72]:
for i in range(len(cand)):
    cand[i] = sorted(cand[i])

In [82]:
for i in range(len(itemsets['itemsets'])):
    itemsets['itemsets'][i] = cand[i]

/Users/hbae/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [84]:
itemsets = itemsets.drop(['index'], axis='columns', inplace=False)

In [86]:
itemsets.to_csv('sample_small_0.05.csv')

In [ ]:
# toy data 만들어보기
# 너무 데이터가 안나오면 epoch을 높혀서