# Apriori
참고: http://blog.naver.com/PostView.nhn?blogId=eqfq1&logNo=221444712369&parentCategoryNo=&categoryNo=45&viewDate=&isShowPopularPosts=true&from=search

In [2]:
import pickle
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

- splitted_movies 리스트 파일로 저장해서 연산 계속 안해도 되도록 해주기

In [14]:
# 파일에 쓰기
#with open('splitted_movies.txt', 'wb') as f:
 #   pickle.dump(splitted_movies, f)

In [3]:
# 파일 읽어오기
with open('splitted_movies.txt', 'rb') as f:
    movies = pickle.load(f)

In [4]:
te = TransactionEncoder()
te_result = te.fit(movies).transform(movies)
df = pd.DataFrame(te_result, columns=te.columns_)

In [5]:
df

,1,10,100,1000,100001,100003,100008,100015,100017,100032,...,99960,99962,99964,99968,99970,99986,99989,99992,99996,99999
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323848,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
323849,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
323850,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
323851,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
323852,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support            itemsets
0   0.176960                 (1)
1   0.113372              (1036)
2   0.106944              (1089)
3   0.106845              (1097)
4   0.182750               (110)
..       ...                 ...
92  0.130195        (4993, 5952)
93  0.127839        (4993, 7153)
94  0.125730        (5952, 7153)
95  0.102086   (1210, 1196, 260)
96  0.113802  (4993, 5952, 7153)

[97 rows x 2 columns]

In [7]:
type(frequent_itemsets)

pandas.core.frame.DataFrame

In [8]:
# 파일에 쓰기
with open('frequent_itemsets.pkl', 'wb') as f:
    pickle.dump(frequent_itemsets, f)

In [10]:
frequent_itemsets.to_csv('sample.csv')